body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: purple;
}

nav {
  background-color: pink;
  padding: 10px;
}

nav a {
  color: violet;
  text-decoration: none;
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: red;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

form {
  background-color:yellow;
  padding: 20px;
  border: 1px solid blue;
}